/* GOOGLE FONTS */
@font-face {
    font-family: "fuentetitulos";
    src: url(./fonts/AlfaSlabOne-Regular.ttf);
}

@font-face {
    font-family: "fuentetexto";
    src: url(./fonts/Actor-Regular.ttf);
}

p {
    font-family: "fuentetexto";
}

/* CSS RESET */

 

body {
    font-family: "fuentetitulos", "fuentetexto";
}


* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}


/* BARRA NAVEGACIÓN */

.header__section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.header__logo {
    margin-left: 20px;
}

.header__donar {
    display: flex;
    align-items: center;
}


.header__label {
    font-size: 25px;
    color: black;
    margin-right: 20px;
    cursor: pointer;
}

.header__navmenu {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 100px;
    background: #E8EA7A;
    text-align: center;
    transition: all .5s;
} 

.header__navmenu li {
    display: block;
    line-height: 30px;
    margin:  50px 0;
    transition: all .5s;
}

.lineabandera {
    width: 100%;
}
#lineabandera {
    width: 100%;
    display: flex;
}

/* _________________main______________ */


main {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mainciclista {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../miPrimerProyecto/img/main/fondoCiclista.jpg);
}

.mainciclista p {
    Font family: "fuentetitulos";
    Font-style: ;
    Font size: 25px;
    Line height: 34px;
    Line height: 100%;
    Align: Center;
    Vertical-align: Center;
}

.ciclistavideo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ciclistabiografia {
    display: flex;
    flex-direction: row;
}

.ciclistabiografia h2 {
    align-items: flex-start;
}


.ciclistabiografia figure {
    align-items: flex-end;
}


.ciclistaequipos {
    display: flex;
}

.ciclistavictorias {
    display: flex;
}


footer {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
}